In [2]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
list(range(11)) ==list(range(0,11))

True

In [13]:
list(range(0,80,3))

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78]

In [19]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [37]:
import numpy as np

In [41]:
list(np.arange(10,0,-0.5))

[10.0,
 9.5,
 9.0,
 8.5,
 8.0,
 7.5,
 7.0,
 6.5,
 6.0,
 5.5,
 5.0,
 4.5,
 4.0,
 3.5,
 3.0,
 2.5,
 2.0,
 1.5,
 1.0,
 0.5]

In [45]:
# 10으로 나누는 방식
list(range(100,0,-5))

[100,
 95,
 90,
 85,
 80,
 75,
 70,
 65,
 60,
 55,
 50,
 45,
 40,
 35,
 30,
 25,
 20,
 15,
 10,
 5]

In [46]:
for i in range(100,5,-5):
    print(i/10)

10.0
9.5
9.0
8.5
8.0
7.5
7.0
6.5
6.0
5.5
5.0
4.5
4.0
3.5
3.0
2.5
2.0
1.5
1.0

## 반복문 실습

In [117]:
num = int(input('숫자를 입력하세요:'))

숫자를 입력하세요:15

In [118]:
for i in range(2,num+1,2):
    print(i)

2
4
6
8
10
12
14

## while문

In [121]:
ind = 0

while ind<10:
    ind+=1
    print(ind)

1
2
3
4
5
6
7
8
9
10

## while문 실습

In [122]:
x = int(input('숫자를 입력하세요:'))

숫자를 입력하세요:6

In [131]:
ind= 2

while ind<=x:
    print(ind)
    ind+=2 #ind = ind + 2

2
4
6

In [135]:
for i in range(100):
    print(i)
    break

0

In [137]:
for i in range(10):
    print(i)
    continue
    print(i*10)

0
1
2
3
4
5
6
7
8
9

In [138]:
for i in range(10):
    print(i)
    pass
    print(i*10)

0
0
1
10
2
20
3
30
4
40
5
50
6
60
7
70
8
80
9
90

In [139]:
for i in range(10):
    pass

In [140]:
for i in range(10):

SyntaxError: incomplete input (2213876541.py, line 1)

## 다중 루프

In [145]:
print('글자', end='gg')
print('출력')

글자gg출력

In [141]:
list1=[[1,2,3,],[4,5,6],[7,8,9]]

In [158]:
for i in list1: 
    print(*i)

1 2 3
4 5 6
7 8 9

In [161]:
for i in list1:
    print(*i,end=' ')

1 2 3 4 5 6 7 8 9

In [168]:
# 강사님 코드

In [172]:
list1[1][1]

5

In [180]:
for i in list1:
    for j in i:
        print(j,end=' ')
    print() # 엔터 역할

1 2 3
4 5 6
7 8 9

In [179]:
for i in list1:
    for j in i:
        print(j,end=' ')

1 2 3 4 5 6 7 8 9

## 조건문

In [181]:
x = int(input('숫자'))

숫자999

In [185]:
if x > 5000:
    print('큽니다.')
elif x ==999:
    print('크지 않고, 해당 숫자는 999입니다.')
else:
    print('크지 않습니다')

크지 않고, 해당 숫자는 999입니다.

In [186]:
# 과제

In [202]:
fact=1
if num/2 == 0:
    print(num)
for x in range(1, num+1):
    fact *= x
    print(fact)

1
2
6
24
120
720

In [225]:
num = int(input('숫자를 입력하세요:'))

숫자를 입력하세요:6

In [233]:
for i in range(2,num+1):
    if (i%2 == 0):
        for x in range(1, num+1):
        fact *= x
        print(i,end=' ')

2 4 6

In [234]:
# 5! 를 구하는 식
res=1
for i in range(1,5+1):
    # 모든 i를 곱해서 저장해야 합니다.
    res*=i

In [235]:
res

120

In [236]:
x = int(input('숫자:'))

숫자:6

In [244]:
for i in range(2, x+1,2):
    # 5! 를 구하는 식
    
    res=1
    
    for j in range(1,i+1):
        # 모든 i를 곱해서 저장해야 합니다.
        res*=j
        
    print(res)

2
24
720

In [245]:
# 우선 팩토리얼 for문부터 시작
# 그 다움에 짝수에 넣음

In [295]:
# 다시!!

In [298]:
5*4*3*2*1

120

In [310]:
# 5! 계산 for문 만들기, 5*4*3*2*1
fact=1
for i in range(1,5+1):
    # 모든 i를 곱헤사 저장
    fact*=i
print(fact)

120

In [308]:
fact

120

In [311]:
x = int(input('숫자:'))

숫자:6

In [319]:
for i in range(2,x+1,2):
    fact=1
    for j in range(1,i+1):
        # 모든 i를 곱헤사 저장
        fact*=j
    print(fact)

2
24
720

## 넘파이

In [2]:
import numpy as np

In [247]:
np

In [249]:
x = np.array([1,2,3,4,5])

In [250]:
type(x)

numpy.ndarray

In [251]:
type([1,2,3])

list

In [255]:
[1,2,3]+2

TypeError: can only concatenate list (not "int") to list

In [260]:
%%timeit
x+1 #브로드캐스팅:그 요소가 포함하고 있는 각각의 요소에 사칙연산을 일괄 수행 가능

1.38 µs ± 22.3 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [261]:
for i in [1,2,3]:
    print(i+1)

2
3
4

In [265]:
list1 = [[1,2,3],[4,5,6],[7,8,9],[0,1,2]] #그냥 주르륵 나열

In [267]:
arr1=np.array([[1,2,3],
               [4,5,6],
               [7,8,9],
               [0,1,2]]) #차원 배열

In [268]:
list1[2][0]

7

In [269]:
arr1[2][0]

7

In [274]:
list1[1:-2]

[[4, 5, 6]]

In [276]:
list1[-2] #뒤에서는 -1,-2,-3

[7, 8, 9]

In [278]:
list1[-2:]

[[7, 8, 9], [0, 1, 2]]

In [280]:
list2=[1,2,3,4,5,6,7,8,9,0]

In [286]:
list2[1::2]

[2, 4, 6, 8, 0]

In [287]:
arr1

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9],
       [0, 1, 2]])

In [288]:
np.save('file1.npy',arr1) #압축x

In [293]:
np.savez('file1.npz',arr1) #압축o

In [292]:
np.load('file1.npy')

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9],
       [0, 1, 2]])

In [294]:
np.load('file1.npz')

In [3]:
import pandas as pd

In [325]:
pd.DataFrame([[1,2,3,4,5]])

   0  1  2  3  4
0  1  2  3  4  5

In [326]:
pd.DataFrame([1,2,3,4,5]).T

   0  1  2  3  4
0  1  2  3  4  5

In [327]:
df = pd.DataFrame([1,2,3,4,5])

In [328]:
df+1

   0
0  2
1  3
2  4
3  5
4  6

In [333]:
df = pd.DataFrame([[1,2,3,4,5],[9,8,7,6,5],[2,5,8,9,6]])

In [334]:
df

   0  1  2  3  4
0  1  2  3  4  5
1  9  8  7  6  5
2  2  5  8  9  6

In [336]:
df[3][2] #열,행

9

In [337]:
df.loc[1,3]

6

In [4]:
df = pd.DataFrame([[1,2,3,4,5],[9,8,7,6,5],[2,5,8,9,6]],
                  columns=['a','b','c','d','e'],
                 index=['q','w','e'])

In [341]:
df

   a  b  c  d  e
q  1  2  3  4  5
w  9  8  7  6  5
e  2  5  8  9  6

In [344]:
df.loc['w','e']

5

In [345]:
df.iloc[1,4]

5

In [351]:
df['q':]

   a  b  c  d  e
q  1  2  3  4  5
w  9  8  7  6  5
e  2  5  8  9  6

In [352]:
df.loc['q':'e']

   a  b  c  d  e
q  1  2  3  4  5
w  9  8  7  6  5
e  2  5  8  9  6

In [353]:
df.loc[:,'c':'e']

   c  d  e
q  3  4  5
w  7  6  5
e  8  9  6

In [354]:
df.loc['q':'w','c':'e']

   c  d  e
q  3  4  5
w  7  6  5

In [355]:
df.to_excel('data.xlsx')

In [359]:
pd.read_excel('data.xlsx', index_col=0)

   a  b  c  d  e
q  1  2  3  4  5
w  9  8  7  6  5
e  2  5  8  9  6

In [360]:
df2=pd.DataFrame([1,2,3,4,5])

In [361]:
df2

   0
0  1
1  2
2  3
3  4
4  5

In [362]:
df2.to_excel('data2.xlsx', index=False)

In [363]:
pd.read_excel('data2.xlsx')

   0
0  1
1  2
2  3
3  4
4  5

In [367]:
pd.read_excel('data.xlsx')

  Unnamed: 0  a  b  c  d  e
0          q  1  2  3  4  5
1          w  9  8  7  6  5
2          e  2  5  8  9  6

In [369]:
df.to_csv('data.csv')

In [370]:
df.to_csv('data.tsv', sep='\t')

In [371]:
pd.read_csv('data.tsv',sep='\t')

  Unnamed: 0  a  b  c  d  e
0          q  1  2  3  4  5
1          w  9  8  7  6  5
2          e  2  5  8  9  6

In [16]:
df.to_csv('data', sep='\t')

In [17]:
df['안녕']=[99,88,77]

ValueError: Length of values (3) does not match length of index (4)

In [15]:
df.loc['r']=[7,8,9,4,5,6]

In [9]:
#과제

In [20]:
import pandas as pd

In [12]:
df

   a  b  c  d  e  안녕
q  1  2  3  4  5  99
w  9  8  7  6  5  88
e  2  5  8  9  6  77
r  7  8  9  4  5   6

In [30]:
df2 = (df+1)*2

In [34]:
df2.iloc[0:]

    a   b   c   d   e   안녕
q   4   6   8  10  12  200
w  20  18  16  14  12  178
e   6  12  18  20  14  156
r  16  18  20  10  12   14

In [43]:
df2.loc[:,q:r]

NameError: name 'q' is not defined

In [44]:
# 해결방안

In [45]:
df

   a  b  c  d  e  안녕
q  1  2  3  4  5  99
w  9  8  7  6  5  88
e  2  5  8  9  6  77
r  7  8  9  4  5   6

In [50]:
empty_df=pd.DataFrame()

In [59]:
print(df.columns)

Index(['a', 'b', 'c', 'd', 'e', '안녕'], dtype='object')

In [63]:
for i in df.columns:
    print((df.loc[:,i]+1)*2)

q     4
w    20
e     6
r    16
Name: a, dtype: int64
q     6
w    18
e    12
r    18
Name: b, dtype: int64
q     8
w    16
e    18
r    20
Name: c, dtype: int64
q    10
w    14
e    20
r    10
Name: d, dtype: int64
q    12
w    12
e    14
r    12
Name: e, dtype: int64
q    200
w    178
e    156
r     14
Name: 안녕, dtype: int64

In [53]:
for i in df.columns:
    empty_df['calc'+i]=(df.loc[:,i]+1)*2

In [55]:
empty_df.to_csv('20230705.csv')

In [58]:
pd.read_csv('20230705.csv',index_col=0)

   calc  calca  calcb  calcc  calcd  calce  calc안녕
q   200      4      6      8     10     12     200
w   178     20     18     16     14     12     178
e   156      6     12     18     20     14     156
r    14     16     18     20     10     12      14

In [64]:
df

   a  b  c  d  e  안녕
q  1  2  3  4  5  99
w  9  8  7  6  5  88
e  2  5  8  9  6  77
r  7  8  9  4  5   6

In [66]:
df['a']+1

q     2
w    10
e     3
r     8
Name: a, dtype: int64

In [67]:
df.loc['q']+1

a       2
b       3
c       4
d       5
e       6
안녕    100
Name: q, dtype: int64

In [68]:
df + 1

    a  b   c   d  e   안녕
q   2  3   4   5  6  100
w  10  9   8   7  6   89
e   3  6   9  10  7   78
r   8  9  10   5  6    7

In [69]:
df

   a  b  c  d  e  안녕
q  1  2  3  4  5  99
w  9  8  7  6  5  88
e  2  5  8  9  6  77
r  7  8  9  4  5   6

* inplace 방식
* x = 1, x = x+1, x=2
* x += 1, x=2

In [82]:
x=2

In [83]:
x+=1

In [84]:
x

3

In [85]:
## 실습

In [98]:
df = pd.read_csv('한국전력거래소_시간별 제주 풍력 발전 제어량_20211231.csv'
                ,encoding='cp949', index_col=0)

In [103]:
df

,횟수,1시,2시,3시,4시,5시,6시,7시,8시,9시,...,16시,17시,18시,19시,20시,21시,22시,23시,24시,총제어량
일자,,,,,,,,,,,,,,,,,,,,,
2021-01-13,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,65.17
2021-01-16,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,21.75
2021-01-18,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,46.67
2021-01-19,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,36.10
2021-01-24,5,0,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,97.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-22,60,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,136.26
2021-10-23,61,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,50.60
2021-10-31,62,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,37.12
2021-11-03,63,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,71.97
2021-12-03,64,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,72.05

In [106]:
df.head()

,횟수,1시,2시,3시,4시,5시,6시,7시,8시,9시,...,16시,17시,18시,19시,20시,21시,22시,23시,24시,총제어량
일자,,,,,,,,,,,,,,,,,,,,,
2021-01-13,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,65.17
2021-01-16,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,21.75
2021-01-18,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,46.67
2021-01-19,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,36.10
2021-01-24,5,0,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,97.67

In [102]:
df.tail(2)

,횟수,1시,2시,3시,4시,5시,6시,7시,8시,9시,...,16시,17시,18시,19시,20시,21시,22시,23시,24시,총제어량
일자,,,,,,,,,,,,,,,,,,,,,
2021-11-03,63,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,71.97
2021-12-03,64,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,72.05

In [104]:
df.columns

Index(['횟수', '1시', '2시', '3시', '4시', '5시', '6시', '7시', '8시', '9시', '10시',
       '11시', '12시', '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시',
       '21시', '22시', '23시', '24시', '총제어량'],
      dtype='object')

In [105]:
df.index

Index(['2021-01-13', '2021-01-16', '2021-01-18', '2021-01-19', '2021-01-24',
       '2021-01-27', '2021-01-28', '2021-01-29', '2021-01-31', '2021-02-02',
       '2021-02-04', '2021-02-08', '2021-02-09', '2021-02-13', '2021-02-15',
       '2021-02-20', '2021-02-21', '2021-02-22', '2021-02-23', '2021-03-02',
       '2021-03-14', '2021-03-15', '2021-03-16', '2021-03-17', '2021-03-21',
       '2021-03-22', '2021-03-23', '2021-03-26', '2021-03-28', '2021-03-30',
       '2021-04-04', '2021-04-05', '2021-04-06', '2021-04-07', '2021-04-08',
       '2021-04-10', '2021-04-11', '2021-04-13', '2021-04-14', '2021-04-17',
       '2021-04-18', '2021-04-19', '2021-04-23', '2021-04-25', '2021-04-26',
       '2021-04-30', '2021-05-01', '2021-05-02', '2021-05-05', '2021-05-08',
       '2021-05-12', '2021-05-21', '2021-05-25', '2021-05-27', '2021-05-30',
       '2021-10-03', '2021-10-17', '2021-10-19', '2021-10-21', '2021-10-22',
       '2021-10-23', '2021-10-31', '2021-11-03', '2021-12-03'],
      dtype='object', name='일자')

In [107]:
# 더하기

In [108]:
df['계산한 총제어량'] = 0

In [109]:
df

,횟수,1시,2시,3시,4시,5시,6시,7시,8시,9시,...,17시,18시,19시,20시,21시,22시,23시,24시,총제어량,계산한 총제어량
일자,,,,,,,,,,,,,,,,,,,,,
2021-01-13,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,65.17,0
2021-01-16,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,21.75,0
2021-01-18,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,46.67,0
2021-01-19,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,36.10,0
2021-01-24,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,97.67,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-22,60,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,136.26,0
2021-10-23,61,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,50.60,0
2021-10-31,62,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,37.12,0
2021-11-03,63,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,71.97,0
2021-12-03,64,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,72.05,0

In [131]:
for i in range(0,64):
    df.iloc[i,1:25].sum()

65.0
22.0
46.0
36.0
98.0
8.0
76.0
71.0
0.8400000000000001
203.0
82.0
647.0
69.0
8.0
45.0
285.0
295.0
99.0
326.0
249.0
106.0
31.0
104.0
16.0
857.0
589.0
14.0
7.0
65.0
103.0
45.0
238.0
58.0
16.0
294.0
253.0
301.0
34.0
350.0
682.0
979.0
17.0
160.0
108.0
31.0
26.0
430.0
998.0
364.0
8.0
19.0
59.0
228.0
40.0
14.0
26.0
994.0
221.0
34.0
135.0
51.0
37.0
72.0
72.0

In [132]:
a

72.0

In [133]:
#해설

In [140]:
for i in df.index:
    res = df.loc[i,'1시':'24시'].sum()
    df.loc[i,'계산한 총제어량']=res

In [141]:
df

,횟수,1시,2시,3시,4시,5시,6시,7시,8시,9시,...,17시,18시,19시,20시,21시,22시,23시,24시,총제어량,계산한 총제어량
일자,,,,,,,,,,,,,,,,,,,,,
2021-01-13,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,65.17,65.0
2021-01-16,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,21.75,22.0
2021-01-18,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,46.67,46.0
2021-01-19,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,36.10,36.0
2021-01-24,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,97.67,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-22,60,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,136.26,135.0
2021-10-23,61,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,50.60,51.0
2021-10-31,62,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,37.12,37.0
2021-11-03,63,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,71.97,72.0
2021-12-03,64,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,72.05,72.0

In [143]:
df['계산한 총재어량']=0

In [146]:
df

,횟수,1시,2시,3시,4시,5시,6시,7시,8시,9시,...,18시,19시,20시,21시,22시,23시,24시,총제어량,계산한 총제어량,계산한 총재어량
일자,,,,,,,,,,,,,,,,,,,,,
2021-01-13,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,65.17,65.0,0
2021-01-16,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,21.75,22.0,0
2021-01-18,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,46.67,46.0,0
2021-01-19,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,36.10,36.0,0
2021-01-24,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,97.67,98.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-22,60,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,136.26,135.0,0
2021-10-23,61,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,50.60,51.0,0
2021-10-31,62,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,37.12,37.0,0
2021-11-03,63,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,71.97,72.0,0
2021-12-03,64,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,72.05,72.0,0

In [ ]:
df.loc